.header {
    width: 100%;
    overflow: hidden;
    
}

.header-top {
    background-color: #FC444B;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
 
.header-top div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.header-content {

}

#noDiv {
    display: none;
    border: none;
    position: absolute;
    right: 5%;
}

#noDiv:hover {
    background-color: #FC444B;
    color: aliceblue;

}

.header-bottom {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 66px;
    overflow: hidden;
    transition: width 2s, height 4s;
    justify-content:space-between;
    margin-left:5%
}

.header-top button {
    background: none;
    outline: none;
    border: none;
    color: aliceblue;
    padding-right: 15px;
}

.header-bottom img {
    width: 70px;
    height: 70px;
}

.header-bottom div {
    display: flex;
    align-items: center;
}

.header-bottom .header-box {
    display: block;
    margin-left: 10px;
}

.header-bottom h5 {
    margin: 0;
    font-size: 15px;
    color: black;
}

.header-bottom p {
    margin: 0;
    color: rgb(113, 112, 112);
    font-size: 13px;
}

.header-bottom img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #D8D8D8;
    margin-left: 10px;
    margin-right: 10px;
}

.searchContainer {
    border: 1.2px solid black;
    border-color: #D8D8D8;
    width: 240px;
    height: 38px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
    margin-left: 20px;
}

.searchContainer input {
    outline: none;
    border: none;
    width: 200px;
}
.searchContainer input::placeholder {
    color: #585858;
}

#container {
    margin-top: 10px;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    height: 40px;
}

#container:hover {
    opacity: .6;
}

#drawer {
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .header-content {
        width: 100%;
    }

    #div {
        display: none
    }

    #noDiv {
        display: initial
    }
    .searchContainer{
        margin-left: 0;
    }
}

