.loginbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loginbodyleft {
    width: 400px;
    height: 600px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbodyright {
    width: 400px;
    height: 600px;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbodyrightbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginbodyrightbody h1{
    text-align: left;
}

.textinputview {
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 20px;
}

.textinput {
    width: 400px;
    background-color:#F5F5F5 ;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}
.forgotPlink{
    margin-left: 275px;
}
.loginButton{
    width: 400px;
    height: 55px;
    border: 1px solid red;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.submitText{
    color: red;
    font-weight: 300;
    font-size: 20px;
}
.underline{
    width: 400px;
    border: 1px solid #D8D8D8;
    height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.googleButton{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
}
.googleText{
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}