.loginbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.loginbodyleft {
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .loginbodyleft {
        width: 300px;
        height: 400px;
        margin-bottom: 0px;
    }
}
.leftImg1 {
    width: 400px;
    height: 600px;
}

@media only screen and (max-width: 600px) {
    .leftImg1 {
        width: 300px;
        height: 400px;
    }
}   
.loginbodyright {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width: 600px) {
    .loginbodyright {
        height: 450px;
        margin-bottom: 70px;
        background-color: #ffffff;
        
    }
}
.loginbodyrightbody{
    width: 400px;
    display: flex;
    flex-direction: column;
    
}
.loginbodyrightbody h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
@media only screen and (max-width: 600px) {
    .loginbodyrightbody h1 {
        margin-top: 0px; 
    }
}
.textinputview {
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 20px;
}

.textinput {
    width: 350px;
    background-color:#F5F5F5 ;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}
.forgotPlink{
    width: 400px;
    text-align: end;
}
.loginButton{
    width: 400px;
    height: 55px;
    border: 1px solid #FC444B;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}
.loginButton:hover {
    background-color: #FC444B;

}
.submitText{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FC444B;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    height: 100%;
}
.submitText:hover {
    color: #ffffff;

}
.underline{
    width: 400px;
    border: 1px solid #D8D8D8;
    height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.googleButton{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 30px;
}
.googleButton:hover {
    background-color: #c7c6c657;

}

.googleText{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.bt{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}