.headText {
    color: #585858;
}
.optionLandBody{
    width: 100%;
    overflow: hidden;
}

.popularDealsView {
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}

.PopularDealsNameCart {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 30px;
    
}

.PopularDealsNameCart h4 {
    color: #585858;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;

}

.dot {
    margin-top: 10px;
    color: #585858;
}

.popularDealsView1 {
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}

.PopularDealsNameCart1 {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.PopularDealsNameCart1 h4 {
    color: #585858;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.dot1 {
    margin-top: 10px;
    color: #585858;
}
.popularDealsView2 {
    float: left;
    margin-bottom: 14px;
    width: 100%;
}

.PopularDealsNameCart2 {
    
    display: flex;
    float: left;
    width: 20%;
}

.PopularDealsNameCart2 h4 {
    color: #585858;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}




.popularDealsView3 {
    float: left;
    margin-bottom: 14px;
    width: 100%;
}

.PopularDealsNameCart3 {
    
    display: flex;
    float: left;
    width: 20%;
}

.PopularDealsNameCart3 h4 {
    color: #585858;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}