.box11 {
    width: 100%;
}

.text1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500; 
    font-size: 32px;
    color: #000000;
}

.brandShow1 {
    display: flex;
    float: left;
    width: 100%;
    
}

.arrowLeft {
    position: absolute;
    background: white;
    opacity: .7;
    border-radius: 20px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowRight {
    position: absolute;
    background: #FFFFFF;
    opacity: .7;
    border-radius: 20px;
    margin-top: 150px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}