.popularhotelsBody{
    height: auto;
    width: 96%;
    margin-left:2%
  
}
.popularhotelsBody .popularhotelsCart{
    display: flex;
    float: left;
    width: 100%;
    overflow-x: scroll;

}
.arrowLeft11 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 20px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 20px;
    box-shadow:1px 1px 5px black;
    padding: 1px;
}
.arrowRight11 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    right: 20px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow:1px 1px 5px black;
    padding: 1px;
}