.box1 {
    width: 100%;
    overflow: hidden;
}

.text1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.brandShow1{
    display: flex;
    float: left;
    width: 100%;
    overflow-x: scroll;
}