.box {
    width: 100%;
    overflow-y: hidden;
    height: 350px;
    background: #F5F5F5;

}
 
.text {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.brandShow{
    display: flex;
}