.box {
    width: 100%;
    background: #F5F5F5;
    margin: 0;
    overflow: hidden;
    margin-top:10px;
    margin-bottom:10px;
}
 
.text {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.brandShow{
    display: flex;
    float: left;
    overflow-x: scroll;
    width: 100%;
}