.notification-up-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    margin: 10px;
}
.notification-up-area img{
    width: 50px;
    height: 50px;
    border-radius:25px;
}
.notification-up-area p{
    font-size:15px;
    font-weight: 300;
    margin: 2px;
    margin-left: 10px;
}
.notification-up-area b{
    margin: 2px;
    margin-left: 10px;
}
.page-add h4{
    text-align: center;
    width: 100%;
    margin: 5px;
}
.notification-bottom{
    display: flex;
    width: 100%;
    justify-content:center
}