.page-settings{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.page-settings h3 {
    text-align: center;
    width: 100%;
}
.page-add{
    display: flex;
    width: 90%;
    padding: 5px;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
    margin: 5px;
    border-radius:5px;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
    height:'auto'
}
.add-banners{
    width: 100%;
    height: auto;
    padding:10px;
    display: inline-block
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}
button{
    width: 150px;
    height: 35px;
    margin: 5px;
}
.page-add-button{
    display:flex;
    align-items: center;
}
.page-add-button:hover{
    opacity: .7;
}
.page-div{
    display: flex;
    width: 90%;
    padding: 5px;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
    margin: 5px;
    border-radius:5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-div img {
    width: 200px;
    height: 80px;
    border-radius:5px
}