.loginbody3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.loginbodyleft3 {
    width: 400px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .loginbodyleft3 {
        width: 300px;
        height: 400px;
        margin-bottom: 0px;
    }
}
.leftImg12 {
   width: 100%;
   height: 100%;
}

@media only screen and (max-width: 600px) {
    .leftImg12 {
        width: 300px;
    }
} 
.loginbodyright3 {
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .loginbodyright3 {
        margin-bottom: 70px;
        background-color: #ffffff;
        margin-top: 0px;
}
}
.loginbodyrightbody3 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.loginbodyrightbody3 h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
@media only screen and (max-width: 600px) {
    .loginbodyrightbody3 h1 {
        margin-top: 0px; 
    }
}
.textinputview3 {
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 10px;
}
.textinputviewMess3 {
    width: 400px;
    height: 100px;
    border-radius: 15px;
    background-color: #F5F5F5;
    border: none;
}

.textinput3 {
    width: 350px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}
.textinputMess3 {
    width: 360px;
    background-color: #F5F5F5;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}

.forgotPlink3 {
    width: 400px;
}
.forgotPlink3 p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
}

.loginButton3 {
    width: 400px;
    height: 50px;
    border: 1px solid #fc444b;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginButton3:hover {
    background-color: #FC444B;

}

.submitText3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FC444B;
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin-top: 17px;
}
.submitText3:hover {
    color: #ffffff;

}
.googleButton3 {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #64b657;
}
.googleButton3:hover {
    background-color: #c7c6c657;

}

.googleText3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}