.CareerBody {
    height          : auto;
    width           : auto;
}

.CareerBodyDiv {
    height          : 330px;
    width           : 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position        : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerImg {
    height : 330px;
    width  : 100%;
    backdrop-filter: blur(54px);

    
}

.CareerImgDiv {
    height  : auto;
    width   : auto;
    position: absolute;
}
.CareerImgText{
    color: white;
    font-size: 82px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}
.CareerBoxMainButton{
    height: auto;
    width: auto;
    padding: 2%;
    border: 1px solid #D8D8D8;
    border-radius: 25px;
}
.CareerBox{
    height: auto;
    width: auto;
    margin-top: 20px;
}
@media screen and (max-width: 400px) {
    .CareerBox {
    
    }
  }
.CareerBoxDiv{
    height: auto;
    width: auto;
    
    display: flex;
    align-items: center;
}
.CareerBoxRightDiv{
    flex: 5;
}
.CareerBoxLeftDiv{
    flex: 0;
}
.CareerBoxFirstButton{
    background-color: #F9F9F9;
    border: none;
    margin-left: 10px;
}
.CareerBoxScendButton{
    background-color: #F9F9F9;
    border: none;
}
.CareerBoxThridButton{
    background-color: #FFE1E3;
    border: none;
    border-radius: 5px;
}
.CareerBoxText{
    font-size: 32px;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}
.CareerCartDiv{
    margin-top: 50px;
    width:90%;
    margin-left: 5%;
}
.CareerEndDiv{
    height: 120px;
    width: auto;
}