.CareerBody {
    height          : auto;
    width           : auto;
}

.CareerBodyDiv {
    height          : 200px;
    width           : 100%;
    background-color: aqua;
    position        : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerImg {
    height : 200px;
    width  : 100%;
    opacity: .7;
    
}

.CareerImgDiv {
    height  : auto;
    width   : auto;
    position: absolute;
}
.CareerImgText{
    color: white;
}
.CareerBoxMainButton{
    height: auto;
    width: auto;
    padding: 2%;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}
.CareerBox{
    height: auto;
    width: auto;
    padding: 3%;
}
.CareerBoxDiv{
    height: auto;
    width: auto;
    
    display: flex;
    align-items: center;
}
.CareerBoxRightDiv{
    flex: 5;
}
.CareerBoxLeftDiv{
    flex: 0;
}
.CareerBoxFirstButton{
    background-color: #ffffff;
    border: none;
    margin-left: 10px;
}
.CareerBoxScendButton{
    background-color: #ffffff;
    border: none;
}
.CareerBoxThridButton{
    background-color: #FFE1E3;
    border: none;
    border-radius: 5px;
}
