.CareerBody {
    height          : auto;
    width           : auto;
}

.CareerBodyDiv {
    height          : 200px;
    width           : 100%;
    background-color: aqua;
    position        : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerImg {
    height : 200px;
    width  : 100%;
    opacity: .7;
    
}

.CareerImgDiv {
    height  : auto;
    width   : auto;
    position: absolute;
}
.CareerImgText{
    color: white;
}