.CheckoutBody{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left:5%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    
}
.CheckoutLeftBOX{
    height: auto;
    width: auto;
}
.CheckoutLeftBOX button{
    background-color: none;
    outline: none;
    width: 100%;
    height:60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:15px;
    border: none;
    color: #585858;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.221);

}
.CheckoutLeftBOX button:hover{
    background-color: #ffff
}
.CheckoutText{
    font-size: 38px;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}
.CheckoutTextP{
    font-size: 18px;
    margin-left: 0px;
    color: #585858;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}
.CheckoutTextPdiv{
    margin-top: -15px;
    display: flex;
}

.CheckoutLeftP{
    color: #FC444B;
    margin-left: -5px;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    
}
.CheckoutLeftH2{
    margin-top: 30px;
    margin-left: 0px;
    font-size: 18px;
    color: #585858;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}
.CheckoutLeftBDiv{
    display: flex;
    margin-top: 30px;
}
.CheckoutLeftBDivH2{
    font-size: 18px;
    color: #808080;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}
.CheckoutLeftButton{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-color: #D8D8D8;
}
.CheckoutLeftButtonDiv{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: #FC444B;
}
.CheckoutLeftIBox{
    height: auto;
    width: 100%;
    margin-top: 30px;
    border: 1.5px solid #D8D8D8;
    border-radius: 15px;
}
.CheckoutLeftIDiv{
    margin: 50px;
}
.CheckoutLeftInput{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #D8D8D8;
    border-radius: 35px;
    align-items: center;
}
.CheckoutLeftInputBox{
    height: 35px;
    width: 90%;
    margin-left: 20px;
    display: flex;
    background-color: #F5F5F5;
    border-radius: 20px;
    outline: none;
    border: none;
}
.CheckoutLeftInputDiv{
    height: 50px;
    width: 90%;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #D8D8D8;
    border-radius: 35px;
    align-items: center;
}
.CheckoutLeftInputD{
    height: 35px;
    width: 75%;
    margin-left: 20px;
    display: flex;
    background-color: #F5F5F5;
    border-radius: 20px;
    outline: none;
    border: none;
}
.CheckoutLeftInputLastDiv{
    height: 50px;
    width: 110px;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #D8D8D8;
    border-radius: 35px;
    align-items: center;
}
.CheckoutLeftInputLastD{
    height: 35px;
    width: 65px;
    margin-left: 20px;
    display: flex;
    background-color: #F5F5F5;
    border-radius: 20px;
    outline: none;
    border: none;
}
.CheckoutLeftInputPromo{
    height: 50px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1.5px solid #D8D8D8;
}
.CheckoutLeftInputBoxPromo{
    height: 40px;
    width: 85%;
    margin-top: 3px;
    margin-left: 30px;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
    border: none;
    justify-content: center;
}



.CheckoutRightBody{
    height: auto;
    width: 40%;
    border: 1.5px solid #D8D8D8;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 100px;
}
@media(max-width: 1000px) {
    .CheckoutRightBody{
        height: auto;
        margin-left: 0px;
        width: 100%;
    }
}

.CheckoutRightLine{
    height: 1.7px;
    width: 80%;

    background-color: #F5F5F5;;
    margin-left: 50px;
}
.CheckoutRightBodyText{
    font-size: 38px;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 50px;
}
.CheckoutRightBodyTextP{
    font-size: 18px;
    color: #373737;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-top: 53px;
    margin-left: 0px;
}
.CheckoutRightText{
    font-size: 18px;
    color: #585858;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 17px;
}
.CheckoutMeadiaBox{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.CheckoutMeadiaRightDiv{
    height: auto;
}
.CheckoutMeadiaLefttDiv{
    margin-left: 20px;
}
