.loginbody2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(166, 26, 26);
    margin-bottom: -250px;
}

.loginbodyleft2 {
    width: 400px;
    height: 800px;
    margin-left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbodyright2 {
    width: 600px;
    height: 700px;
    background-color: white;
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.loginbodyrightbody2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbodyrightbody2 h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.textinputview2 {
    width: 400px;
    height: 80px;
    display: flex;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 10px;
}

.textinputviewMess2 {
    width: 400px;
    height: 100px;
    border-radius: 15px;
    background-color: #F5F5F5;
    border: none;
}

.textinput2 {
    width: 400px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}

.textinputMess2 {
    width: 360px;
    background-color: #F5F5F5;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}

.forgotPlink2 {
    width: 400px;
}

.forgotPlink2 p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
}

.loginButton2 {
    width: 400px;
    height: 84px;
    border: 1px solid #fc444b;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitText2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FC444B;
    font-weight: 400;
    font-size: 24px;
}

.googleButton2 {
    width: 400px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #64b657;
}

.googleText2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}