.HomeIconContainer{
    width: 92%;
    height: 165px;
    overflow: hidden;
    padding: 5px;
    overflow-x: scroll;
    display: flex;
    float: left;
    scrollbar-width: thin;
    margin-left: 4%;

}
.topBrandsDive{
    margin: 0px;
}
.HomeContainer{
    width: 100%;
    overflow: hidden;
}
.HomeIconContainer div{
    width: 2%;
    height: 100px;
}
.Home{
    width: 100%;

}
.Home-slider{
    width: 96%;
   margin-left:2% 
}
.Home-topBrand{
    background-color: #F5F5F5;
    width: 100%;
    
}