.HomeIconContainer{
    width: 100%;
    height: 150px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    float: left;
    scrollbar-width: thin;
}
.topBrandsDive{
    margin: 25px;
}
.HomeContainer{
    width: 100%;
    overflow: hidden;
}
.HomeIconContainer div{
    width: 2%;
    height: 100px;
}
.Home{
    width: 100%;

}
.Home-slider{
    width: 96%;
   margin-left:2% 
}
.Home-topBrand{
    background-color: #F5F5F5;
    width: 100%;
    
}