.JobBody{
    height: auto;
    width: auto;
}
.JobBodyDiv {
    height          : 200px;
    width           : 100%;
    background-color: aqua;
    position        : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JobImg {
    height : 200px;
    width  : 100%;
    opacity: .7;
    
}

.JobImgDiv {
    height  : auto;
    width   : auto;
    position: absolute;
}
.JobImgText{
    color: white;
}
.JobBox{
    height: auto;
    width: auto;
    flex-direction: row;
    display: flex;
    margin: 4%;
}
.JobLeftBox{
    height: auto;
    width: 60%;
}
.JobRightBox{
    height: auto;
    width: 400px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}
.JobBoxDiv{
    flex-direction: row;
}
.JobBoxFirstButton{
    background-color: #ffffff;
    border: none;
    margin-left: 10px;
}
.JobBoxScendButton{
    background-color: #ffffff;
    border: none;
}
.JobBoxThridButton{
    background-color: #FFE1E3;
    border: none;
    border-radius: 5px;
}
.JobTextBody{
    margin-top: 50px;
}
.JobTextP{
    opacity: .7;
    font-size: 16px;
}

.JobRightTextDiv{
    height: auto;
    width: auto;
    margin: 35px;
}
.JobRightInput{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    
}
.JobRightInputDiv{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}
.JobRightInputIcon{
    color: red;
    margin-top: 3px;
    margin-left: -10px;
}
.JobRightInputBoxDiv{
    height: 40px;
    width: 110px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
}
.JobRightInputBox{
    height: 39px;
    width: 115px;
    margin-left: 10px;
    border-radius: 10px; 
    background-color: #F5F5F5;
    border: none;
}
.JobRightInputLeftDiv{
    height: auto;
    width: auto;
    
    margin-left: 50px;
}
.JobInputMobileDiv{
    height: auto;
    width: auto;
}
.JobInputMobileIconDiv{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}
.JobMobileBoxDiv{
    height: 40px;
    width: 285px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
}
.JobMobileBox{
    height: 39px;
    width: 290px;
    margin-left: 10px;
    border-radius: 10px; 
    background-color: #F5F5F5;
    border: none;
    outline: none;
}
