.JobBody{
    height: auto;
    width: 100%;
    overflow-x:hidden;
}
.JobBodyDiv {
    height          : 330px;
    width           : 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position        : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JobImg {
    height : 330px;
    width  : 100%;
    backdrop-filter: blur(54px);
    
}

.JobImgDiv {
    height  : auto;
    width   : auto;
    position: absolute;
}
.JobImgText{
    color: white;
    font-size: 82px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}
.JobBox{
    height: auto;
    width: 90%;
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
}
.JobLeftBox{
    height: auto;
    width: 60%;
    margin-right: 20px;
}
@media only screen and (max-width: 1250px) {
    .JobLeftBox {
        width: 100%;
    }
}
.JobRightBox{
    width: 460px;
    border: 1px solid #D8D8D8;
    border-radius: 50px;
}
.JobBoxDiv{
    flex-direction: row;
}
.JobBoxFirstButton{
    background-color: #ffffff;
    border: none;
    margin-left: 10px;
}
.JobBoxScendButton{
    background-color: #ffffff;
    border: none;
}
.JobBoxThridButton{
    background-color: #FFE1E3;
    border: none;
    border-radius: 5px;
}
.JobTextBody{
    margin-top: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
}
.JobPText{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.JobTextP{
    opacity: .7;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

.JobRightTextDiv{
    height: auto;
    width: auto;
    margin: 35px;
}
.JobRightInput{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    overflow: hidden;
    
}
.JobRightInputDiv{
    height: auto;
    width: 46%;
    margin: 2%;
    display: flex;
}
.JobRightInputIcon{
    color: #FC444B;
    margin-top: 5px;
}
.JobRightInputBoxDiv{
    height: 50px;
    width: 96%;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
    margin: 2%;
}
.JobRightInputBox{
    height: 100%;
    width: 100%;
    border-radius: 10px; 
    background-color: #F5F5F5;
    border: none;
    outline: none;
    padding: 20px;
}
.JobRightInputLeftDiv{
    height: auto;
    width: auto;
    margin-left: 40px;
}
.JobInputMobileDiv{
    height: auto;
    width: auto;
    margin-top: 30px;
}
.JobInputMobileIconDiv{
    height: auto;
    width: 94%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}
.JobMobileBoxDiv{
    height: 50px;
    width: 94%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
}
.JobMobileBox{
    height: 100%;
    width: 100%;
    border-radius: 10px; 
    background-color: #F5F5F5;
    border: none;
    outline: none;
    padding: 20px;
} 
.JobBoxButtonx{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #FC444B;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JobBoxButtonx:hover{
    background-color: #FC444B;
}
.JobBoxButtonP{
    color: #FC444B;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    margin: 0;
}
.JobBoxButtonP:hover{
    color: #ffffff;
}
.JobText{
    font-size: 32px;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    margin-left: 6px;
}
@media (max-width: 768px) {
    .JobRightBox{
        width: 90%;
        margin-left:5%
    }
}