.MyProfileBody {
    height: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5%;
    overflow-x: hidden;
}

.MyProfileDiv {
    width: auto;
    height: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
}

.MyProfileBox {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.MyProfileBoxIcon {
    border: 1px solid #D8D8D8;
    height: 70px;
    width: 70px;
    border-radius:35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.MyProfileIcon {
    font-size: 3px;
}
.MyProfileInputBoxs{
    height: 70px;
    width: 400px;
    display: flex;
    background-color: #F5F5F5;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    border: 1px solid #D8D8D8;
    border-radius: 50px;
    flex-direction: row;
    align-items: center;
}
.MyProfileInputs{
    outline: none;
    border: none;
    width: 85%;
    margin-left: 25px;
    font-weight: 400;
    background-color: #F5F5F5;
    font-size: 24px;
}
.MyProfileInputBox {
    height: 70px;
    width: 400px;
    display: flex;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    border: 1px solid #D8D8D8;
    border-radius: 50px;
    flex-direction: row;
    align-items: center;
}

::placeholder {
    color: #000000;
}


.MyProfileInput {
    outline: none;
    border: none;
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 400;
    font-size: 24px;
}

.MyProfileBoxIconEmail {
    border: 1px solid #D8D8D8;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    justify-content: center;
    background-color: #F5F5F5;
    align-items: center;
    display: flex;
}

.MyProfileText {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 32px;

}
.MyProfileTexts {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

.MyProfileTextLeftButton {
    background-color: white;
    border: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.MyProfileTextRightButton {
    background-color: white;
    border: none;
    margin-left: -5px;
    color: rgba(237, 11, 11, 0.896);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.MyProfileSelect {
    height: 40px;
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    background:none

}
@media (max-width:600px) {
    .MyProfileBoxIcon{
        width:50px;
        height:50px;
    }
    .MyProfileInputBox{
        width: 60%;
    }
    .MyProfileInputBoxs{
        width: 60%;
    }
    .MyProfileBoxIconEmail{
        width:50px;
        height:50px;
    }
    .MyProfileInputBox{
        height: 50px
    }
    .MyProfileInputBoxs{
        height: 50px
    }
    
}