.ScarchBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../Image//Search.PNG');
    background-position: cover;
    min-height: 280px;
}
.ScarchImg{
    height: 100%;
    width: 100%;
    opacity: .9;
}
.ScarchImgDiv{
    height: auto;
    width: auto; 
    position: absolute;
    margin-top: 200px;
    margin-bottom: 200px;
}
.ScarchImgDivText{
    font-weight: 600;
    font-size:15px;
    margin: 0;
    text-align:center;
    max-width: 100%;
}

.ScarchImgText{
    color: #F5F5F5;
    font-size: 30px;
    font-weight: 600;
    text-align:center;

}
.ScarchBox{
    flex-direction: row;
    display: flex;
    height: 40px;
    width: auto;
}
.ScarchInputBox{
    height: 40px;
    width: 100%;
    display: flex;
    background-color: #f10202;
    border: none;
    border-radius: 20px;
}
.ScarchSelect{
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    position: absolute;

}
.ScarchScDiv{
    flex: 2;
    flex-direction: row;
    display: flex;
    border-radius: 25px;
}
.ScarchInput{
    outline: none;
    border: none;
    width: 70%;
    margin-left: 3%;
    background-color: #ffffff;
    flex: 4;
}
.searchInput::placeholder{
    color: #808080;
}
.ScarchButton{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: #64B657;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff
}



.ScarchDiv{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
}


.ScarchButtonP{
    color:#ffffff;
}