.ScarchBody{
    height: 200px;
    width: 100%;
    position: relative;
}
.ScarchImg{
    height: 200px;
    width: 100%;
    opacity: .7;
}
.ScarchImgDiv{
    height: auto;
    width: auto;
    position: absolute;
    bottom: 0;
    margin: 50px;
    margin-left: 20%;
    

}
.ScarchImgDivText{
    height: auto;
    width: auto;
    margin: 25px;

}
.ScarchImgText{
    color: #F5F5F5;
}
.ScarchBox{
    flex-direction: row;
    display: flex;
    height: 40px;
    width: auto;
}
.ScarchInputBox{
    height: 40px;
    width: 54vw;
    display: flex;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}
.ScarchSelect{
    height: 40px;
    width: 100px;
    margin-left: 480px;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    position: absolute;

}
.ScarchInput{
    outline: none;
    border: none;
    width: 600px;
    margin-left: 15px;
    background-color: #64B657;    
    
}
.ScarchButton{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: #64B657;
}