.showcasebody{ 
    padding: 3%;
}
.text{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: '#585858';
}
.cartBottom4 {
    display: flex;
}
.headline{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 62px;
    font-weight: 700;
    color: '#000000';
}
.hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D8D8D8;
}
.text2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: '#808080';
}
.buttonView{
    height: 50px;
    width: 153px;
    border: 1px solid #fc444b;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.buttonView p{
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.img4 {
    height: 200px;
    width: 200px;
    border-radius: 110px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.35);
    
}

.cartButtomLeft4 {
    height: 200px;
}

.cartButtomRight4 {
    margin-left: 20px;
}
.pageSlide{
    text-align: center;
}
.Home-topBrand1{
    background-color: #F5F5F5;
    width: 100%;
}