.showcasebody1{
    padding: 3%;
} 
.cartBottom41 {
    display: flex;
}
.headline1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 62px;
    font-weight: 700;
    color: #000000;
}
.hr1{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D8D8D8;
}
.text21{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #808080;
}
.buttonView1{
    height: 30px;
    width: 120px;
    border: 1px solid red;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.buttonView1 p{
    margin: 0px;
    font-size: 12px;
    color: red;
}

.img41 {
    height: 200px;
    width: 200px;
    border-radius: 90px;
}

.cartButtomLeft41 {
    height: 200px;
    width: 200px;
    margin-top: -20px;
}

.cartButtomRight41 {
    margin-left: 20px;
    margin-bottom: 40px;
}
.appoverview{
    margin-top: 30px;
}