.Hotelimg {
    height: 500px;
    width: 90%;
    border-radius: 35px;
    margin-left: 5%;
}

.Showcase {
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.Showstar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.showttx {
    color: rgb(179, 181, 182);
    margin-left: 0px;
}

.ShowcaseOne {
    width: 60%;
    margin: 1
}

.ShowleftOne {
    width: 95%;
    display: flex;
    flex-direction: row;
}

.ShowleftOnefs {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.ShowleftOnef {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.StarBorderIcon {
    margin-top: 3px;
    margin-left: 3px;
}

.showiconpoint {
    margin: 0;
    margin-left: 3px;
}

.Showhed {
    margin-top: 0px;
}

.showcasestar {
    height: 50px;
    width: 90px;
    background-color: green;
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.showFont {
    margin-top: 2px;
}

.showcaseicon {
    height: 45px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
}
.showcaseiconss{
    display: flex;
    margin-left: -10px;
    justify-content: center;
    align-items: center;
}
.showcaseicons {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #e9e6eb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showicon {
    color: #808080;
    width: 45px;
    height: 45px;
    margin: 5px;
}

.showDescription {
    margin-left: 3px;
}

.showcasetxt {
    width: 85%;
    color: #b8b3b3;
    font-size: 13px;
    line-height: 20px;
}

.showcasecheck {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin-top: 50px;
    border: 1px solid #D8D8D8;
    margin-bottom: 50px;
}

/*
.showCaseMap {
    width: 60%;
    height: 200px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #585858;
    border: 1px solid #D8D8D8;
}*/

.showcasecheckin {
    width: 48%;
    height: 88px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
}

.showcasebar {
    height: 70%;
    width: 1.3px;
    background-color: #D8D8D8;

}

.showcasemap {
    width: 100%;
    border-radius: 15px;
}

.showcaseNearby {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
}

.showcasemaps {

    display: flex;
    flex-direction: row;
}

.showcasemandir {
    margin-bottom: 80px;
}

.showcaseNearbys {
    margin-top: 15px;
}

.Showcardhed {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 25px;
}

.Showcardhedone {
    width: 60%;
    display: flex;
    align-items: center;
    height: auto;
   
}

.ShowcardhedTwo {
    width: 40%;
    size: 3px;
}

.showcardname {
    margin-left: 15px;
}

.Showcardimg {
    width: 65px;
    height: 65px;
    border-radius: 30px;
    margin: 5px;
}

.Platinum {
    color: #CBCBCB;
    font-size: 20px;
    margin: 0;
    font-weight:600
}

.gold {
    margin-top: -0.80px;
    color: #F3B038;
}

.silver {
    margin-top: -0.80px;
    color: #808080;
}

.showtxt {
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
}

.Member {
    margin: 0px;
    color: rgb(26, 25, 25);
    font-size: 20px;
    margin-left: 5px;
}

.ShowcaseRight {
    width: 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border: 1px solid #D8D8D8;
    margin: 25px;
    padding:20px;
    height: 530px;

}
@media (max-width:1100px) {
    .ShowcaseRight{
        width: 100%;
    }
    .ShowcaseOne{
        width: 100%;
    }
    .Hotelimg{
        height: 400px
    }
}

.ShowcaseRightf {
    justify-content: space-evenly;
    align-items: center;
}
.ShowcaseRightf h3{
   margin-top: 5px;
}
.ShowcaseRightf h4{
    margin-top: 10px;
}ia

.showrightStar {
    margin: 1px;
    color: red;
    font-size: 22px;
}

.Showrightinput {
    outline: none;
    border: none;
    width: 98%;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    color:#D8D8D8;;
    height: 25px;
    background: #F5F5F5;
}

.Showrightinputs {
    outline: none;
    border: 1px solid #D8D8D8;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(254, 251, 251);
    padding-left: 10px;
}

.Showinputbox {
    width: 100%;
    display: flex;
    background: #F5F5F5;
    margin-top: 10px;
}

.showdateicon {
    color: #D8D8D8;
}

.showAdults {
    width: 40%;
}

.showAdultss {
    width: 50%;
    display: flex;
    margin-left: 14px;
    margin-top: -5px;
    text-align: center;
    justify-content: center;
}

.showadu {
    font-size: 15px;
    font-weight: 500;
    color: #585858;
    margin-left: -1px;
}

.showold {
    font-size: 13px;
    font-weight: 500;
    color: #808080;
    margin-top: -8px;
    margin-left: -1px;
}

.showbutton {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #F5F5F5;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showbuttont{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #FFE1E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showbuttonone {
    font-size: 35px;
    margin: 0px;
    color: #808080;
}

.showbuttontwo {
    font-size: 25px;
    margin: 0px;
    color: red;
}

.showbuttonTwo {
    margin-top: 23px;
}

.showbuttonTwon {
    margin-top: 32px;
}
.ShowsubmitText{
    font-size: 16px;
    font-weight: 500;
    color:#FC444B;
    margin: 0;
}
.showconFButton{
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #FC444B;
    border-radius: 30px;
}
.showconFButtons{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
.showconButton{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
