.loginbody1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loginbodyleft1 {
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 600px) {
    .loginbodyleft1 {
        width: 300px;
        height: 400px;
        margin-bottom: 0px;
    }
}

.leftImg {
    width: 400px;
    height: 600px;
}

@media only screen and (max-width: 600px) {
    .leftImg {
        width: 300px;
        height: 400px;
    }
} 
 
.loginbodyright1 {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 600px) {
    .loginbodyright1 {
        height: 450px;
        margin-bottom: 70px;
        background-color: #ffffff;
        
}
}
.loginbodyrightbody1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbodyrightbody1 h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .loginbodyrightbody1 h1 {
        margin-top: 0px; 
    }
}
.textinputview1 {
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 20px;
}

.textinput1 {
    width: 350px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}

.forgotPlink1 {
    width: 400px;
    text-align: end;
}

.loginButton1 {
    width: 400px;
    height: 55px;
    border: 1px solid #FC444B;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}

.loginButton1:hover {
    background-color: #FC444B;

}

.submitText1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FC444B;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    height: 100%;
    
}

.submitText1:hover {
    color: #ffffff;

}

.underline1 {
    width: 400px;
    border: 1px solid #D8D8D8;
    height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.googleButton1 {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
}

.googleButton1:hover {
    background-color: #c7c6c657;

}

.googleText1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}