.TermsBody{
    height: auto;
    width: auto;
    margin: 5%;
}
.TermsBody h2{
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.TermsPDiv{
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 15px;
}
.TermsP{
    opacity: .7;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #585858;
}
