.TermsBody{
    height: auto;
    width: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}
.TermsBody h2{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 22px;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}
.TermsPDiv{
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 15px;
}
.TermsP{
    opacity: .7;
    font-weight: 200;
    font-size: 24px;
    color: #585858;
    margin-left: 12px;
}
