.body {
    width: 120px;
    height: 120px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.26);
    border-radius: 60px;
    margin: 10px;
}
.img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.304);
    
}
.img:hover {
    opacity: .6;
}