.body {
    width: 140px;
    height: 140px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.35);
    border-radius: 70px;
    margin: 10px;
}
.img{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.477);
    
}