.body {
    width: 177px;
    height: 177px;
    border-radius: 280px;
    margin: 10px;
}

.img {
    width: 177px;
    height: 177px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.35);
    border-radius: 280px;

}

.img:hover {
    opacity: .6;
}