.iconButtonbox {
    height: 100px;
    width: 100px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.274);
    border-radius: 20px;
    border: 0px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px
}

.iconButtonbox:hover {
    opacity: .6;
}

.iconButtonbox img {
    width: 50px;
    height: 40px;
    margin: 5px;
}

.iconButtonbox h5 {
    margin: 2px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.icon-bottom {
    text-decoration: none;
}

.IconButtonarrowLeft {
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    z-index: 1;
}

.IconButtonarrowRight {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    right: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

