.AppOverViewBody{
    width:100%;
    height: auto;
    background-color: #FFF5F6;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 380px;
    

}

.AppOverViewLaftDiv{
    width: auto;
    background-color: #FFF5F6;
    display: flex;
    margin-top: -30px;
    margin-left: -50px;
}
.AppOverViewRightDiv{
    height: auto;
    width: 550px;
    margin-left: 100px;
    background-color: #FFF5F6;
    
}

.AppOverViewBigText{
    font-size: 45px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-left: 0px;
}
.AppOverViewSamllText{
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    color: #585858;

}
.AppOverViewButton{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;

}
.AppOverViewButtonDiv{
    align-items: center;
    display: flex;
    margin-left: 5px;
}
.AppOverViewButtonLastDiv{
    align-items: center;
    display: flex;
    margin-left: 30px;
}
.AppOverViewIcon{
    font-size: 20px;
    color: #FC444B;
}
.AppOverViewHtext{
    color: #FC444B;
}
.AppOverViewFrom{
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    width: 70%;
}
.AppOverViewFromBox{
    border: 1px solid black;
    width: 85%;
    height: 50px;
    display: flex;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    border: none;
}
.AppOverViewFromButton{
    height: 49px;
    width: 120px;
    background-color: #FC444B;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
.AppOverViewFromButtonP{
    font-size: 24px;
    color: #ffffff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}
.AppOverViewLink{
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-top: -10px;
    margin-left: 5px;

}
.AppOverViewh5{
    font-size: 18px;
    color: #808080;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-left: 5px;
}
.AppOverViewImg{
    height: 450px;
    width: 350px;
    border-radius: 10px;
    margin-top: 50px;
}
.topping{
    color: #FC444B;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #FC444B;
}
.Footerimg{
    height: 40px;
    width: 135px
}
.FooterimgEnd{
    height: 40px;
    width: 135px;
    margin-left: 10px;
}
