.bookshowbody{
    height: 70px;
    width: 96%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bookshow{
    height: 75px;
    width: 96%;
    margin-left: 2%;
}