
.cartBottom6 {
    display: flex; 
    width: 100%; 
}
.headline6{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0px;
    color: '#000000';
    
} 
.hr6{
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid #D8D8D8;
}
.text2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #585858;
    margin-top: 0px;
    
}

.buttonView6{
    display: flex;
    align-items: center;
}
.button6{
    height: 50px;
    width: 101px;
    border-radius: 30px;
    background-color: #FC444B;
    align-items: center;
    justify-content: center;
    display: flex;
}
.button6 p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: '#ffffff';
    font-size: 16px;
    font-weight: 500;

}
.DealCartIcon{
    margin-left: 10px;
}
.bottomText{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}
.button6 p{
    font-size: 12px;
    font-weight: 500;
    color:white;
}

.img6 {
    height: 155px;
    width: 155px;
    border-radius: 15px;
}

.cartButtomLeft6 {
    height: 70px;
}

.cartButtomRight6 {
    margin-left: 30px;
}
.headlineLeft{
    display: flex;
    justify-content: space-between;
}