.body1 {
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.35);
    background-color: rgb(68, 255, 0);
    border-radius: 10px;
    margin: 10px;
}
.img1{
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin: 0;
    
}
.cartBottom{
    display: flex;
    margin: 0;
}
.cartButtomLeft{
    background-color: blueviolet;
    height: 70px;
    width: 30%;
}
.cartButtomRight{
    background-color: brown;
    height: 70px;
    width: 70%;
}