.body12 {
    width: 250px;
    height:250px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin: 10px;
    
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    opacity: .5;
    
}
.img2{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    
}
.cartBottom{
   display: flex;
   width: 100%;
   height: 100%;
   background-color:rgba(0, 0, 0, 0.466);
   border-radius: 10px;
   align-items: flex-end;
}
.cartBottom div {
    margin: 25px;
}
.title{
    font-size: 25px;
    font-weight: 600;
    color:#fff;
    width: 100%;
    margin: 0;
}
.sub-title{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    color: #fff;
    margin: 0;
}