.body12 {
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin: 10px;
    
}
.img1{
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin: 0;
    
}
.img2{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.cartBottom{
    display: flex;
    margin: 0;
}
.cartButtomLeft{
    height: 70px;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cartButtomRight{
    height: 70px;
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}