.FilterCartBody{
    height: auto;
    width: auto;
}
.FilterCartButton{
    outline: none;
    border: none;
    color:  #FC444B;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgb(26, 177, 122);
    
}