.hotelcartBody{
    height: 280px;
    width: 250px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px;
    position: relative;
    background-color: black;
   
}
.hotelcartImg{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: .7;
}
.hotelcartBodydiv{
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    overflow: hidden;

}
.hotelcartText{
    color: #fff;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}
.hotelcartTextP{
    color: #fff;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -5px;
}
.hotelcartTextLast{
    color: #fff;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 5px;
}
.hotelcartIconDiv{
    display: flex;
    margin-top: -5px;
}
.hotelcartSVG{
    margin-left: 15px;
}
.hotelcartIcon{
    color: #64B657;
    position: relative;
    margin-top: 6px;
    margin-left: 5px;

}