.hotelcartBody{
    height: 250px;
    width: 220px;
    border-radius: 10px;
    background-color: rgb(191, 126, 251);
    margin-top: 20px;
    margin-left: 60px;
   
}
.hotelcartImg{
    height: 250px;
    width: 220px;
    border-radius: 10px;
}