.mainbody{
    height: 100%;
    width: 100%;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}
.img61{
    height: 120px;
    width: 120px;
    border-radius: 80px; 
}
.headText{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}
.offercode{
    height: 40px;
    width: 220px;
    border-radius: 30px;
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 20px;
}
.offercodebutton{
    height: 40px;
    width: 220px;
    border-radius: 30px;
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
}