.mainbody {
    height: auto;
    width: 90%;
    border: 1px dashed #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5%;
    flex-direction: column;

}

.img61 {
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.35);
    border-radius: 110px;
}

.headText {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    color: black;
    font-weight: 700;
    margin-top: 30px;
}

.offercode {
    height: 55px;
    width: 400px;
    border-radius: 55px;
    background-color: #F5F5F5;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .offercode {
        width: 300px;
    }
}

.offercode p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 400;
    margin: 0px;
}

.offercodebutton {
    height: 55px;
    width: 400px;
    border-radius: 55px;
    border: 1.81194px solid #FC444B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .offercodebutton {
        width: 300px;
    }
}

.offercodebutton:hover {
    background-color: #FC444B;

} 

.offercodebuttonText {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FC444B;
    font-size: 24px;
    font-weight: 500;
    width: 400px;
    margin: 0px;
}

.offercodebuttonText:hover {
    color: #ffffff;

}

.condition h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #292929;
}

.condition p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #585858;
}