.sliderbody{
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.slider{
    width: 92%; 
    position: absolute;
}
.sliderImg{
    height: 300px;
    width: 90%;
    border-radius: 10px;
}