.slider-container{
    width: 100%;
    padding-left:4%;
    padding-right:4%;
}
.slider{
    height:420px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 92%;
    margin-left:4%;

}
@media (max-width:500px) {
    .slider{
        height: 100px;
    }
}
@media (max-width:800px) {
    .slider{
        height: 250px;
    }
    
}